div, p, ul, li {
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 500px;
  margin: 0 auto;
  font-family: Arial;
  h3 {
    font-size: 18px;
    margin: 0 0 15px;
  }
  ul#list-task {
    margin: 0 0 15px;
    list-style-type: none;
    li {
      padding: 0 0 15px;
      p {
        margin: 0 0 5px;
      }
    }
  }
  .message {
    display: none;
    font-size: 12px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px;
  }
  .edit-box {
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0;
  }
}