<html>
<head>
	<title>This is Express-handlebar site</title>
	<script type="text/javascript" src="/assets/js/vendor.js"></script>
	<link type="text/css" rel="stylesheet" href="/assets/css/all.css">
</head>

<body>
    <div class="wrapper">
       {{{body}}}
    </div>
</body>
</html>