<h3>List of Tasks</h3>
<div class="message"></div>
<ul id="list-task">
{{#each tasksList.tasks}}
    <li class="tasks" id="task_{{{id}}}">
		<p>{{{task}}}</p>
		<small>{{{status}}}</small>
        <button onclick="openEditTask('{{{id}}}')">Edit Task</button>
        <button onclick="deleteTask('{{{id}}}')" title="Remove Task">X</button>
        <button onclick="markComplete('{{{id}}}')">Mark as Complete</button>
    </li>
{{/each}}
</ul>
<div class="edit-box">
    <input type="text" id="task-title">
    <input type="hidden" id="task-id">
    <button onclick="saveTask();">Save</button>
</div>
<div class="buttons">
    <button onclick="sortTasks()">Save Order</button>
    <button onclick="openAddTask()">+ Add Task</button>
</div>