div, p, ul, li {
  margin: 0;
  padding: 0; }

.wrapper {
  width: 500px;
  margin: 0 auto;
  font-family: Arial; }
  .wrapper h3 {
    font-size: 18px;
    margin: 0 0 15px; }
  .wrapper ul#list-task {
    margin: 0 0 15px;
    list-style-type: none; }
    .wrapper ul#list-task li {
      padding: 0 0 15px; }
      .wrapper ul#list-task li p {
        margin: 0 0 5px; }
  .wrapper .message {
    display: none;
    font-size: 12px;
    padding: 5px;
    border: 1px solid red;
    border-radius: 5px; }
  .wrapper .edit-box {
    display: none;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0; }
